<div class="jumbotron">
  <div class="container">
    <h1 class="inset">Add a New Recipe</h1>
    <p class="inset">Add your own recipe to mealtimer and share it with others.  It's that easy!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 form-area">
      <%= render 'form' %>
    </div>
  </div>
</div>
