<% content_for :title do %>
  Mealtimer
<% end %>

<!-- Main jumbotron for the name of the recipe, a brief description and (maybe) a start button -->
<div class="home jumbotron">
  <div class="container">
    <h1 class="inset logo"><span class="glyphicon glyphicon-cutlery">&nbsp;</span><span class="glyphicon glyphicon-time"></span></h1>
    <h1 class="inset logo">meal&middottimer</h1>
    <p class="inset">dinner on the table on time</p>
  </div>
</div>

<div class="container content">
    <h3 class="subtitle">Recipes</h3>
    <div class="row recipe-grid">
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>