<!DOCTYPE html>
<html>
  <head>
    <title>Mealtimer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:site_name" content="Mealtimer" />
    <meta name="og:description" content="Mealtimer is the ultimate cooking app, helping you to get wonderful meals on the table and on time." />
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
          <span class="glyphicon glyphicon-cutlery"></span>
          <span class="glyphicon glyphicon-time"></span>
          <p>MEAL &middot TIMER</p>
          <p class="small">&copy; and baked with love in 2014</p>
      </div>
    </footer>
  </body>
</html>
